<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Inventory_Management_System</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Inventory_Management_System.styles.css" asp-append-version="true" />
    <style>
        footer {
            background-color: #053D42;
            color: #fff;
            text-align: center;
            height: 200px;
            padding:40px;
        }

            footer .footer-content {
                display: flex;
                justify-content: space-around;
            }

                footer .footer-content nav a {
                    color: #fff;
                    text-decoration: none;
                }

            footer .footer-contact p {
                color: white;
            }

            footer .footer-logo img {
                height: 40px;
            }

            footer .footer-logo p {
                color: white;
            }

            span{
                color:white;
            }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/assets/logo.png" alt="Inventory Logo" style="height: 40px; vertical-align: middle; margin-right: 10px;">
                    Inventory
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <!--<li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>-->
                    </ul>
                        <ul class="navbar-nav flex-grow-1">
                        
                       
                        <li class="nav-item">
                            <partial name="_LoginPartial" />
                        </li>
                    </ul>
                </div>
                
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="footer-content">
                <div class="footer-logo">
                    <img src="~/assets/logo.png" alt="Inventory">
                    <span>Inventory</span>
                </div>
            </div>
            <div class="footer-contact">
                <p>Your Ultimate Inventory Management Solution</p>
                <p>name@email.com</p>
                <p>(+1) 123 456 7893</p>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
